<launch>
  <arg name="model" value="$(find @ROBOT_DESCRIPTION_NAME@)/urdf/@URDF_NAME@.urdf"/>
  <arg name="convexes" default="true" />
  <arg name="surfaces" default="true" />

  <param name="robot_description" textfile="$(arg model)" />

  <group unless="$(eval arg('convexes') or arg('surfaces'))">
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  </group>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hrp5_p_description)/launch/display.rviz" />

  <rosparam param="robot_module">
   - "@ROBOT_MODULE@"
  </rosparam>
  <node name="mc_convex_visualization" pkg="mc_convex_visualization" type="sch_visualizer" output="screen" if="$(arg convexes)">
    <param name="publish" value="true" />
  </node>
  <node name="surfaces_publisher" pkg="mc_surfaces_visualization" type="surfaces_publisher" if="$(arg surfaces)">
    <param name="publish" value="true" unless="$(arg convexes)" />
  </node>
</launch>
